* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



/************* NAV BAR *************/
.logo {
    margin-left: 100px;
    font-size: 50px;
}

nav {
    height: 75px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    width: 100%;
}

nav .welcome{
    margin-top: 0px;
    float: left;
    font-size: 25px;
    color: white;
}

nav label.welcomee{
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
}

nav ul{
    float:right;
    margin-right: 100px;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
    line-height: 75px;
}

nav ul li a{
    font-size: 25px;
    color: white;

}

/************* NAV BAR *************/

/************* ADD NOTE *************/

body {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/background.jpeg);
    background-attachment: fixed !important;
}

.noData{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 25px;
}
.noData img{
    margin-top: 15px;
}

.boxIndex {
    background-color: rgb(30, 30, 30);
    width: 500px;
    height: 720px;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.25);
    transform: translate(-50%, -50%);
    top: 54%;
    left: 50%;
}

.make {
    color: white;
    padding: 15px 0 15px 25px;
    font-size: 17px;
    border-bottom: 1px solid rgb(165, 165, 165);
    background-color: rgb(30, 30, 30);
}

.boxIndex label{
    color: white;
    padding: 15px 0 10px 25px;
    font-size: 22px;
    display: block;
}

.boxIndex input[type="date"], ::placeholder, select{
    color:white;
}

.boxIndex input, textarea, select{
    background-color: rgb(110, 110, 110);
    margin-left: 25px;
    color:white;
}

.boxIndex input, select{
    font-size: 18px;
    width: 450px;
    height: 35px;
    padding-left: 5px;
}

.boxIndex #noteImportance{
    width: 35px;
}

.boxIndex textarea{
    padding: 5px;
    font-size: 18px;
    width: 450px;
    height: 200px;
    outline: none;
}


.boxIndex input[type=submit]{
    width: 150px;
    height: 40px;
    margin-top: 5px;
    margin-left: 170px;
    background-color: #47008e;
    color:white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
}
.container .timeTravel{
    color:red;
    display:block;
    margin: 0px 0px 0px 25px;
}

.boxIndex #sugg{
    padding-left: 24px;
    margin-top: 3px;
}

.boxIndex #suggestion{
    color: white;
}

ul.wrapper{
    margin-top: 70px;
}

.filterWrapper{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 14%;
    left: 50%;  
}   

.filterWrapper .importanceLabel{
    font-size: 20px;
    color: #ffff;
}

.filterWrapper #importanceFilter{
    width: 150px;
    height: 30px;
    margin-left: 10px;
}

.boxIndex .check{
    font-size: 15px;
    line-height: 25px;
    vertical-align: middle;
    margin-left: 10px;
}

/************* ADD NOTE *************/


/************* listNotes *************/

.note {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/notepaper.png);
    overflow: auto;
    color:white;
}

.wrapper {
    gap: 30px;
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill,265px);
}

.wrapper li{
    list-style: none;
    height: 300px;
    border-radius: 10px;
    padding: 15px 20px 15px;
}

.wrapper .note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .done{
    opacity: 0.3;
}

.wrapper .done div, .wrapper .done span{
    text-decoration: line-through;
}

.note button{
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    background-color: rgb(95, 95, 95);
    font-size: 20px;

}

.note p{
    font-size: 22px;
    font-weight: 500;
}

.note .currentDate{
    font-size: 14px;
    display: inline;
    position: relative;
    float:right;
}

.note span{
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;

    font-size: 16px;
    display: block;
    margin-top: 5px;
}

.note .bottom-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 2px solid rgb(180, 180, 180);
    padding-top: 1px;
    padding-bottom: 0px;
}

.bottom-content span{
    flex: 1;
}

li .border{
    margin-top: 3px;
    margin-bottom: -2px;
    margin-left: -25px;
    border-bottom: 1px solid red;
    width: 270px;
}

.pagiation{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 102%;
}

.pagiation select{
    width: 40px;
    margin-left: 10px;
}

.pagiation label{
    color: #ffff;
    font-size: 20px;
}

.noData p{
    color:white;
}

#footer{
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: -50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    color: white;
    padding: 2px;
}


/************* listNotes *************/



/************* login *************/

/*** logo ***/
#loginLogo {
    width: 30%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    right: -1%;
    border-radius: 12%;
}


#boxLogin {
    font-size: 20px;
    width: 290px;
    height: 425px;
    position:absolute;
    background-color: #0a0a0a;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 35px;
    color: white;
}


#boxLogin h1 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid silver;
}

#boxLogin form {
    position: absolute;
    left: 52%;
    transform: translate(-50%);
    margin-top: 30px;
}

#boxLogin input {
    width: 100%;
    margin: 10px;
    outline: none;
    color: white;
}

#boxLogin label{
    margin-left: 15px;
    margin-bottom: 0px;
}

#boxLogin .field {
    width: 85%;
    border: none;
    background: none;
    padding: 0 5px;
    font-size: 16px;
    height: 40px;
    border-bottom: 1px solid silver;
}

#boxLogin #button{
    width: 200px;
    height: 35px;
    border-radius: 25px;
    background-color: rgb(73, 0, 191);
    font-size: 20px;
    color:#ffffff;
    box-shadow: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 550;
}

#boxLogin #signup {
    text-align: center;
    font-size: 15px;
}

#signup a{
    text-decoration: underline;
}

form .loginError{
    font-size: 15px;
    color: red;
    margin-left: 9px;
    margin-top: 7px;
}



/************* login *************/



/************* register *************/
.rules{
    position:absolute;
    background-color: #ffffff;
    width: 180px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 9%;
    border-radius: 30px;
    padding: 10px;
    }
    
    .rules span{
        font-weight: bold;
    }

#boxRegister {
    width: 330px;
    height: 630px;
    position: absolute;
    background-color: #0b0b0b;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    border-radius: 35px;
    color: white;
}

#boxRegister input{
    color: white;
}

#boxRegister h1 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid silver;
}

#boxRegister form {
    position: absolute;
    left: 52%;
    transform: translate(-50%);
    margin-top: 10px;
    width: 250px
}

#boxRegister label{
    margin-top:20px;
    font-size: 20px;
    width: 100%
}

#boxRegister form input{
    width: 100%;
}

#boxRegister .int{
    margin-top: 20px
}

#boxRegister .field {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    font-size: 16px;
    height: 40px;
    border-bottom: 1px solid silver;
}


#buttonRegister{
    width: 240px;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(73, 0, 191);
    font-size: 20px;
    color:#ffffff;
    box-shadow: none;
    margin-top: 35px;
    cursor: pointer;
    font-weight: 550;
}


.error p{
    color: red;

}

#errorUserEmail p{
    margin-top: 20px;
}

.regForm .accountAlready{
    display:block;
    text-align: center;
    margin-top: 20px;
}

.regForm .accountAlready a{
    text-decoration: underline;
}

/************ MODE *************/
form select.mode{
    transform: translate(-50%, -50%);
    position: absolute;
    height: 50px;
    font-size: 22px;
    top: 20%;
    left: 50%;
    padding-left: 10px;
    margin: 0px;
}

form .modeButton{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 28%;
    left: 50%;
    background-color: #00eaff;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
}

#footer{
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: -50px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    color: white;
    padding: 2px;
}